<div class="about-container">
    <h1 class="about-heading">About Your Instructor</h1>
    <img src="./images/headshot2.23.jpg" alt="Headshot" class="about-pic" />
    <p class="about-text">Hello! My name is <strong>Jalielle Curtis</strong>, and I am a passionate music educator with over 10 years of experience teaching piano and music theory. I hold a degree in Music Education from the University of Michigan, and I am dedicated to helping students of all ages discover the joy of music.</p>
    <p class="about-text">I believe that music is a universal language that can enrich our lives in countless ways. My teaching philosophy centers around creating a positive and engaging learning environment where students can explore their creativity and develop their musical skills.</p>
    <p class="about-text">Whether you are a beginner or an advanced player, I am here to guide you on your musical journey. I look forward to sharing my love of music with you!</p>
    <p class="about-text">Feel free to reach out if you have any questions or would like to schedule a lesson!</p>

    <button class='pretty-button' id="contact-button">Contact</button>
</div>