<div class ="header">
    
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="/">Home</a></li>
            <li class="nav-list-item"><a href="/about" id="nav-about">About</a></li>
            <li class="nav-list-item"><a href="/contact" id="nav-contact">Contact</a></li>
            <li class="nav-list-item"><a href="/login" id="nav-login">Login</a></li>
            <li class="nav-list-item"><a href="/lessons" id="nav-students" class="hidden">Students</a></li>
            <li class="nav-list-item"><button id="nav-logout" class="hidden pretty-button">Logout</button></li>
        </ul>
    </nav>

</div>