<section id="login">
    <fieldset id="login-form">
        <legend>Login</legend>
        <p>
          <label for="email">Email</label>
          <input type="text" placeholder="email" id="email" value="user1@email.com" />
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" placeholder="password" id="password" />
        </p>
        <button type="submit" id="login-button" class="pretty-button">Login</button>
        <p id="login-message"></p>
        <p>Don't have an account?     
          <button type="button" id="register-button">
            Register here
          </button>
        </p>
    </fieldset>
</section>