<section id="student-dashboard">
  <h2>Student Dashboard</h2>
  <p>Welcome to the student dashboard! Here you can view your progress and access resources.</p>
  <div id="student-resources">
    <h3>View the Monthly Calendar</h3>
    <div id="calendar-container">
        <iframe 
            src="https://calendar.google.com/calendar/embed?src=jccreativekeys%40gmail.com&ctz=America%2FNew_York" 
            style="border: 0" 
            width="800" 
            height="600" 
            frameborder="0" 
            scrolling="no">
        </iframe>
    </div>
    <ul class="resource-list">
      <li class="resource-list-item pretty-button"><a href="#">Resource 1</a></li>
      <li class="resource-list-item pretty-button"><a href="#">Resource 2</a></li>
      <li class="resource-list-item pretty-button"><a href="#">Resource 3</a></li>
    </ul>
  </div>

</section>